body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #f5eeee;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
    overflow-x: auto;
    white-space: nowrap;
}

.image-class {
    max-width: 100%; 
    height: auto;  
    border-radius: 8px;
    margin-bottom: 20px; 
    display: block;
}

h2 {
    font-size: 26px;
    margin-bottom: 20px;
    color: #333;
}

h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #5f130f;
}

form {
    margin: 15px 0;
}

input[type="submit"] {
    background-color: #5f130f;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 300px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
}

button {
    background-color: #5f130f;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #5f130f;
}


p {
    margin-top: 20px;
    font-size: 16px;
    color: #5f130f;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    text-align: center;
}

th, td {
    padding: 10px 15px;
    border: 1px solid #5f130f;
}

th {
    background-color: #CBB2AB;
    text-align: center;

}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    input, button {
        font-size: 14px;
    }

    p {
        font-size: 15px;
    }
}

.logo-img {
    max-width: 200px;
    height: auto;
    display: block;
    margin: auto
}