<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>

<body>
    <div class="container">
        <h2>{{ company_name }} Information</h2>
        <form action="/introduction" method="post">
            <p><input type="submit" value="Company Introduction"></p>
        </form>
        <form action="/financial_info" method="post">
            <p><input type="submit" value="Financial Information"></p>
        </form>
        <form action="/stock_info" method="post">
            <p><input type="submit" value="Stock Information"></p>
        </form>
        <form action="/main" method="get">
            <p><input type="submit" value="Back to Main"></p>
        </form>
    </div>
</body>