<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>

<body>
    <div class="container">
        <h2>Make Investment</h2>
        <p>Current stock price of {{company_name}} is {{currentPrice}}</p>
        <p>Please enter the amount you want to invest:</p>
        <form action="/investment_result" method="post">
            <p><input type="text" name="q"></p>
            <p><input type="submit" value="Confirm"></p>
        </form>
        <form action="/homepage" method="post">
            <p><input type="submit" value="Main"></p>
        </form>
    </div>
</body>