<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>

<body>
    <div class="container">
        <h2>Main Function</h2>
        <h3>Currently Company: {{ company_name }}</h3>
        <form action="/info" method="post">
            <p><input type="submit" value="{{ company_name }} Information"></p>
        </form>
        <form action="/ms" method="post">
            <p><input type="submit" value="Market Sentiment"></p>
        </form>
        <form action="/genAI" method="post">
            <p><input type="submit" value="GenAI Assistant"></p>
        </form>
        <form action="/investment" method="post">
            <p><input type="submit" value="Make Investment"></p>
        </form>
        <form action="/" method="get">
            <p><input type="submit" value="End"></p>
        </form>
    </div>
</body>